.BurgerMenu {
  position: absolute;
  background-color: var(--color-red);
  width: 80px;
  height: 80px;
  transition: 0.5s;
  left: 20px;
  top: 15px;
  border-radius: 50%;
  z-index: 40;
  overflow: hidden;
}

.BurgerMenuActive {
  width: 320px;
  height: 710px;
  border-radius: 0 80px;
}

.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.NavigationItem {
  display: inline-block;
  width: 230px;
  margin-top: 10px;
  border-bottom: 2px solid var(--color-border-navigation-item);
  transform: scale(0);
  transition: 0.3s;
}

.Link {
  color: var(--color-whitesmoke);
  margin-left: 10px;
  line-height: 160%;
  text-decoration: none;
  font-size: 3rem;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.LinkActive {
  opacity: 1;
  font-weight: 700;
  font-size: 3.4rem;
}

.NavigationItemActive {
  transform: scale(1);
  transition: 1s;
}

@media screen and (max-height: 700px) {
  .BurgerMenuActive {
    width: 280px;
    height: 540px;
    border-radius: 0 60px;
  }

  .NavigationItem {
    width: 210px;
  }

  .Link {
    line-height: 140%;
    font-size: 2.4rem;
  }
}

@media screen and (max-height: 550px) {
  .BurgerMenuActive {
    width: 250px;
    height: 450px;
    border-radius: 0 60px;
  }

  .Navigation {
    margin-top: 50px;
  }

  .NavigationItem {
    width: 180px;
  }

  .Link {
    line-height: 140%;
    font-size: 1.8rem;
  }
}