.Main {
  height: 100vh;
  padding-top: 30px;
  position: relative;
}

.Preloader {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 41px);
}

.Menu {
  position: relative;
  margin: 0 auto;
  width: 70%;
  max-width: 1200px;
  height: calc(100vh - 160px);
  animation-name: display;
  animation-duration: 1s;
}

.Disabled {
  display: none;
}

.MenuItem {
  position: absolute;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
}

.MenuItem:first-child {
  left: calc(50% - 100px);
}

.MenuItem:nth-child(2) {
  top: 10%;
  left: 70%;
}

.MenuItem:nth-child(3) {
  top: calc(50% - 240px / 2);
  left: calc(100% - 100px);
}

.MenuItem:nth-child(4) {
  top: 66%;
  left: 70%;
}

.MenuItem:nth-child(5) {
  top: calc(100% - 200px);
  left: calc(50% - 100px);
}

.MenuItem:nth-child(6) {
  top: 66%;
  left: 13%;
}

.MenuItem:nth-child(7) {
  top: calc(50% - 240px / 2);
  left: -100px;
}

.MenuItem:nth-child(8) {
  top: 11%;
  left: 13%;
}

.Image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.3);
  img {
    width: auto;
    height: 100%;
  }
}

.Name {
  margin-top: 10px;
  font-size: 2.4rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  user-select: none;
}

.Subtitle {
  position: absolute;
  font-size: 6rem;
  top: calc(50% - (5rem / 2));
  left: calc(50% - 200px);
  font-weight: 400;
  font-family: 'Amatic SC', cursive;
  user-select: none;
}

@media screen and (max-height: 850px) {
  .Main {
    padding-top: 20px;
  }

  .MenuItem {
    height: 225px;
  }

  .Image {
    width: 185px;
    height: 185px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  }

  .MenuItem:first-child {
    left: calc(50% - 185px / 2);
  }

  .MenuItem:nth-child(3) {
    top: calc(50% - 225px / 2);
    left: calc(100% - 185px / 2);
  }

  .MenuItem:nth-child(5) {
    top: calc(100% - 150px);
    left: calc(50% - 185px / 2);
  }

  .MenuItem:nth-child(7) {
    top: calc(50% - 225px / 2);
    left: calc(-185px / 2);
  }
}

@media screen and (max-height: 700px) {
  .Menu {
    height: calc(100vh - 130px);
  }

  .MenuItem {
    height: 195px;
  }

  .Image {
    width: 155px;
    height: 155px;
  }

  .Subtitle {
    font-size: 4.8rem;
    left: calc(50% - 180px);
  }

  .MenuItem:first-child {
    left: calc(50% - 155px / 2);
  }

  .MenuItem:nth-child(3) {
    top: calc(50% - 195px / 2);
    left: calc(100% - 155px / 2);
  }

  .MenuItem:nth-child(5) {
    top: calc(100% - 150px);
    left: calc(50% - 155px / 2);
  }

  .MenuItem:nth-child(7) {
    top: calc(50% - 195px / 2);
    left: calc(-155px / 2);
  }
}

@media screen and (max-height: 620px) {
  .MenuItem {
    height: 180px;
  }

  .Image {
    width: 140px;
    height: 140px;
  }

  .Subtitle {
    font-size: 4.4rem;
    left: calc(50% - 150px);
  }

  .MenuItem:first-child {
    left: calc(50% - 70px);
  }

  .MenuItem:nth-child(3) {
    top: calc(50% - 180px / 2);
    left: calc(100% - 70px);
  }

  .MenuItem:nth-child(5) {
    top: calc(100% - 130px);
    left: calc(50% - 70px);
  }

  .MenuItem:nth-child(7) {
    top: calc(50% - 180px / 2);
    left: -70px;
  }
}

@media screen and (max-height: 550px) {
  .Menu {
    height: calc(100vh - 130px);
  }

  .MenuItem {
    height: 140px;
  }

  .Image {
    width: 110px;
    height: 110px;
  }

  .Name {
    margin-top: 5px;
    font-size: 2rem;
  }

  .Subtitle {
    font-size: 3.8rem;
    top: calc(50% - 1rem);
    left: calc(50% - 130px);
  }

  .MenuItem:first-child {
    left: calc(50% - 55px);
  }

  .MenuItem:nth-child(3) {
    top: calc(50% - 140px / 2);
    left: calc(100% - 55px);
  }

  .MenuItem:nth-child(5) {
    top: calc(100% - 90px);
    left: calc(50% - 55px);
  }

  .MenuItem:nth-child(7) {
    top: calc(50% - 140px / 2);
    left: -55px;
  }
}
