.cards {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  animation-name: display;
  animation-duration: 1s;
}

.card-word {
  width: 240px;
  height: 260px;
  position: relative;
  perspective: 100vw;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.active-card {
  &:hover {
    cursor: pointer;
    transform:  scale(1.1) !important;
  }
}

.card-word__front, .card-word__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 204, 204);
  transition: 1s;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.card-word__front-image, .card-word__back-image {
  width: auto;
  height: 200px;
  border-radius: 10px;
  user-select: none;
  z-index: 2;
  transition: .5s;
  background-color: rgb(209, 204, 204);
  img {
    width: auto;
    height: 100%;
  }
}

.card-word__front-name, .card-word__back-name {
  font-weight: 700;
  font-size: 3rem;
  width: 230px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.card-word__back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
}

.reverse-button {
  width: 40px;
  height: 40px;
  background: url('../../assets/icons/reverse.svg') no-repeat;
  background-size: contain;
  position: absolute;
  top: 210px;
  left: 185px;
  opacity: 0.7;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
  &:active {
    transform: scale(0.8);
  }
}

// @media screen and (max-width: 720px) {
//   .card-word {
//     margin: 25px 0;
//   }
// }

// @media screen and (max-width: 400px) {
//   .card-word {
//     width: 250px;
//   }
//   .card-word__front-image, .card-word__back-image {
//     img {
//       width: 100%;
//       height: 200px;
//     }
//   }
//   .reverse-button {
//     left: 195px;
//   }
// }