.mode {
  display: flex;
  align-items: center;
  top: 35px;
}

.mode__train, 
.mode__game {
  font-size: 2.8rem;
  font-weight: 700;
  padding: 10px;
  opacity: .1;
  transition: .5s;
}

.mode__train_active, 
.mode__game_active {
  transition: .5s;
  opacity: 1;
}

.mode__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.mode__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: rgb(196, 63, 90);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(196, 63, 90);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}