.statistics-buttons {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.repeat-button, 
.reset-button {
  padding: 5px;
  min-width: 120px;
  height: 40px;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: whitesmoke;
  border: 1px solid rgb(196, 63, 90);
  transition: .3s;
  outline: 5px solid rgba(209, 204, 204, 0.5);
  &:hover {
    transition: .3s;
    cursor: pointer;
    background-color: rgb(196, 63, 90);
  }
  &:active {
    transform: scale(0.8);
  }
}