.burger-menu__button {
  width: 40px;
  position: absolute;
  left: -160px;
  top: 30px;
  margin-left: 200px;
  overflow: hidden;
  z-index: 20;
  &:hover {
    cursor: pointer;
  }
}

.first-line, .second-line, .third-line {
  width: 40px;
  height: 3px;
  margin-top: 10px;
  background-color: whitesmoke;
  transition: .5s;
  border-radius: 1px;
}

.burger-menu__button_active {
  .first-line {
    transform: translateY(13px) rotate(45deg);
  }

  .second-line {
    transform: translateX(-40px);
  }

  .third-line {
    transform: translateY(-13px) rotate(-45deg);
  }
}

// @media screen and (max-width: 1000px) {
//   .burger-menu__button {
//     margin-left: 100px;
//   }
// }

// .burger-menu__button_active > .first-line_active {
//   transform: translateY(13px) rotate(45deg);
// }

// @media screen and (max-width: 900px) {
//   .burger-menu__button {
//     left: -30px;
//   }
// }

// @media screen and (max-width: 640px) {
//   .burger-menu__button {
//     left: -60px;
//   }
// }