.burger-menu {
  position: absolute;
  background-color: rgb(196, 63, 90);
  width: 80px;
  height: 80px;
  transition: .5s;
  left: 20px;
  top: 14px;
  border-radius: 50%;
  z-index: 16;
  overflow: hidden;
}

.burger-menu_open {
  width: 320px;
  height: 710px;
  border-radius: 0 80px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.navigation__item {
  display: inline-block;
  width: 230px;
  margin-top: 10px;
  border-bottom: 2px solid hsla(0, 0%, 96%, 0.5);
  transform: scale(0);
  transition: .3s;
  a {
    color: whitesmoke;
    margin-left: 10px;
    line-height: 160%;
    text-decoration: none;
    font-size: 3rem;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.navigation__item_open {
  transform: scale(1);
  transition: 1s;
}

a.navigation__item_active  {
  opacity: 1;
  font-weight: 700;
  font-size: 3.4rem;
}