@import '/src/styles/Fonts';
@import '/src/styles/Variables.scss';

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Amatic SC', cursive;
  box-sizing: border-box;
}

body {
  background-image: url('../assets/illustrations/pictures/brick.png');
}
