.Button {
  width: 80px;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 15px;
  z-index: 50;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  &:focus-visible {
    outline: var(--focus-outline)
  }
}

.LinesWrapper {
  overflow: hidden;
  width: 40px;
}

.FirstLine,
.SecondLine,
.ThirdLine {
  width: 40px;
  height: 3px;
  margin-top: 10px;
  background-color: var(--color-whitesmoke);
  transition: 0.5s;
  border-radius: 1px;
}

.FirstLine {
  margin-top: 0;
}

.ButtonActive {
  .FirstLine {
    transform: translateY(13px) rotate(45deg);
  }

  .SecondLine {
    transform: translateX(-40px);
  }

  .ThirdLine {
    transform: translateY(-13px) rotate(-45deg);
  }
}
