.title {
  font-size: 5rem;
  position: absolute;
  left: 120px;
  top: 25px;
  z-index: 1;
  font-family: "Amatic SC",cursive;
  font-weight: 700;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

.burger-menu__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292929;
  opacity: 0.6;
  transition: .5s;
  z-index: 15;
  &:hover {
      cursor: pointer;
  }
}

.burger-menu__bg_disabled {
  opacity: 0;
  z-index: -1;
}

@media screen and (max-height: 870px) {
  .title {
    top: 10px;
    font-size: 4.6rem;
  }
}

@media screen and (max-height: 700px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (max-height: 550px) {
  .title {
    left: 110px;
    top: 15px;
    font-size: 3rem;
  }
}